/*Setting up my table and canvas */
.center-container {
    width: 600px;
    margin: 0;
    margin-top: 0;
}

/*Changing the tables borders */
table {
    border-collapse: collapse;
    border-style: hidden;
}

/*Making the squares for the game*/
td {
    cursor: pointer;
    border: 4px solid rgba(160, 82, 45, 0.8);
    padding: 0px;
    width: 200px;
    height: 200px;
}

/*Styling the canvas */
canvas {
    position: absolute;
    z-index: 10;
    pointer-events: none;
}

/*Centring the h1 element */
h1 {
    margin: auto;
    text-align: center;
    color: #A0522D;
    padding-bottom: 2em;
    padding-top: 0.75em;
}